/* jumbotron */

.jumbotron-index {
    color: white;
    background-image: url("https://www.lancaster.ac.uk/media/lancaster-university/content-assets/images/lums/masthead-1600x400/housingobservatory1600x400.png");
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron-index .container {
    background: rgba(255, 255, 255, 0.45);
    width: 100%;
}

.jumbotron .container h1,
p {
    color: #4b4b4b;
}


/* carousel */

.carousel {
    margin-bottom: 10em;
}

.col-md-3 {
    display: inline-block;
    margin-left: -4px;
}

.col-md-3 img {
    width: 100%;
    height: auto;
}

body .carousel-indicators li {
    background-color: #4b4b4b;
}

body .carousel-indicators {
    /* bottom: 0; */
    bottom: -80px;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon {
    background-color: #4b4b4b;
    padding-bottom: -100rem;
}

body .no-padding {
    padding-left: 0;
    padding-right: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Median queries for about*/

@media (min-width: 700px) {
    #about .two-col {
        text-align: justify;
        columns: 2;
        column-gap: 2em;
    }
}


/* section topics */

#topics .card {
    border: 0px;
    background-color: rgb(239, 239, 239);
}

footer a {
    color: firebrick !important;
}


/* about */

#about h2 {
    padding-bottom: 0;
}

#about h5 {
    padding: 1rem 0;
    line-height: 1.5;
    color: grey;
}


/* section release */

#release p {
    font-size: 20px !important;
}

#release .card {
    background-color: inherit;
    color: white;
}

#release h2:after {
    margin: 1rem;
    content: ' ';
    display: block;
    border: 2px solid white;
}

#release h2 {
    padding-bottom: 0px;
}

#release .card-text {
    font-size: 22px !important;
}


/* section markets */

#markets h2 {
    padding-top: 3rem;
}

#markets p {
    padding: 2rem 1rem;
    text-align: justify;
}


/* section meet */

#meet {
    text-align: center;
    background: #fff;
    /* border-top: 1px solid #d5dadf; */
    padding: 2em 0;
}

#meet .card {
    border: 0px;
}

#meet h4 {
    color: #b6adad;
    margin: 10px 0 0 0;
}

#meet a {
    color: #333;
    text-decoration: none;
}

#meet ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#meet li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}

#meet .card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.thumbnail {
    position: relative;
    display: inline-block;
    border: 0;
    color: #333;
}

.icon {
    display: none;
    font-size: 3em;
    position: absolute;
    color: white;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thumbnail a>img,
.thumbnail>img {
    line-height: 0;
    margin: 0 auto;
    padding: 10px 0 0 0;
    position: relative;
    object-fit: cover;
    object-position: 100% 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.thumbnail:hover img {
    opacity: 0.7;
}

.thumbnail:hover .icon {
    display: block;
}

#meet .fa-2x {
    padding: 7px;
}

#meet .fa-2x:hover,
.ai-2x:hover {
    color: #d5dadf;
}


/*Publications Section*/

#publications {
    text-align: center;
    padding: 2em 2em;
}

#publications a {
    padding: 0;
    margin: 0.5rem;
    text-align: center;
}

#publications .card {
    border: 0px;
    text-align: left;
    background-color: #efefef;
}

#publication2 {
    margin-bottom: 5rem;
}


/* Media Section */

#media h6 {
    color: grey;
}


/* ----------------------------------- */


/* Tab overview */


/* ---------------------------------- */


/* Overview Section */

.gap-horizontal {
    padding: 2rem 0;
}